.box-stretched {
    height: 100%;
}
.box {
    background-color: var(--surface-e);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    /*box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);*/
}

.vertical-container {
    margin: 0;
    height: 90vh;
    background: var(--surface-d);
    border-radius: 4px;
}

input[type="text"]:focus{
    box-shadow: 0 0 0 rgb(255, 255, 255);
}

input[type="checkbox"]:focus{
    box-shadow: 0 0 0 rgb(255, 255, 255);
}